body {
  background-color: orange;
}

/* #header{
  background: #555555;
  color: white;
  padding: 25px;
  text-align: center;
}
#login_form{
  padding-top: 75px;
}
#left_sidebar{
  border-right: 2px solid black;
}
#container{
  margin-left: 25px;
}

.error {
  background: rgb(237, 187, 187);
  color: rgb(201, 99, 27);
  padding: 10px;
  width: 95%;
  border-radius: 5px;
} */